@inject IPropertiesService service

<select value="@bindLevel" @onchange="@OnChangeSelection" class="form-control">
    @foreach (var data in levelData)
    {
        <option value="@data.level">@data.text</option>
    }
</select>

@code {
    [Parameter]
    public string bindLevel { get; set; }

    [Parameter] public EventCallback<string> OnChange { get; set; }

    private List<LevelModel> levelData;

    protected override void OnInitialized()
    {
        levelData = service.GetLevelList();
    }

    protected void OnChangeSelection(ChangeEventArgs e)
    {
        OnChange.InvokeAsync(e.Value.ToString());
    }
}
