@page "/LogEx/CustomLog"

@using IdeaAppCore.Services

@inject ColorConsoleLogger customLogger

<h3>CustomLog</h3>

@code {      
    protected override void OnInitialized()
    {
        //customLogger.Log();
    }
}
